<h2>Product Detail</h2>

<div class="container">
  <div class="row">
    <table>
      <tr>
        <td>ID#</td>
        <td>{{product.id}}</td>
      </tr>
      <tr>
        <td>Name</td>
        <td>{{product.name}}</td>
      </tr>
      <tr>
        <td>Type</td>
        <td>{{product.type}}</td>
      </tr>
      <tr>
        <td>Qte.</td>
        <td>{{product.stock}}</td>
      </tr>
      <tr>
        <td>Description</td>
        <td>{{product.description}}</td>
      </tr>
    </table>
  </div>
</div>
